.about {
    background-color: white;
}

.about-cards {
    padding: 7.5rem var(--common-padding);
    gap: 1.5rem;
}

.about-main {
    align-items: self-start;
    gap: 4rem;
    max-height: 43.125rem;
}

.about-left {
    padding-right: 3.5994rem;
    gap: 8.9006rem;
    align-items: flex-start;
    padding-bottom: 4.4881rem;
    padding-bottom: 7.5rem;

}

.about-left-images {
    gap: 65.6px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    top: 3rem;
    left: 4.875rem;
}

.about-left_rate {
    position: relative;
    font-size: 1.5625rem;
    color: 17254E;
    background-color: white;
    width: 21.2rem;
    height: 5.875rem;
    border-radius: 62.5rem;
    justify-content: center;
    gap: .7813rem;
    top: 0;
    box-shadow: 2px 2px rgba(23, 37, 78, .2), -2px -2px rgba(23, 37, 78, .2);
}

.about-left_rate p:first-child {
    color: var(--vivid-orange);
}

.about-right {
    padding-top: 1.4719rem;
    padding-right: var(--common-padding);
    position: relative;
}

.about-right-info {
    color: var(--vivid-orange);
    gap: .5rem;
    margin-bottom: .5781rem;
}

.about-right-info p {
    font-size: 1.125rem;
    font-weight: normal;
}

.about-right-title {
    font-size: 2.8125rem;
    font-weight: bold;
    color: var(--navy-blue);
    width: 40.9444rem;
}

.about-right-title span {
    color: var(--vivid-orange);
}

.about-right-p {
    font-size: var(--regular-fontsize);
    color: #333931;
    margin-bottom: 1.915rem;
    width: 38.7731rem;
    line-height: 1.5;
}

.about-right-value {
    gap: 1.3475rem;
    align-items: flex-start;
}

.about-right-value div {
    width: 17.3087rem;
    height: 3.375rem;
    background-color: #F3F5F5;
    border-radius: .3125rem;
    font-size: var(--regular-fontsize);
    color: #191659;
    justify-content: center;
    gap: .4688rem;
}

.first_value {
    margin-bottom: 1.25rem;
}

.second_value {
    margin-bottom: 2.5rem;
}

.about_birds-image {
    right: 2.875rem;
}